<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>{{item.name}}</h1>
        <p>Users who added this item to their wishlist</p>
        {% for user in users %}
        <p>{{user.first_name}} {{user.last_name}}</p>
        {% endfor %}

        <a href="/dashboard">Home   </a>
        <a href="/logout">Logout</a>
    </body>
</html>